<template name="about">
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>Sobre</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-lg-offset-2 text-justify">
                    <p>Coisoteca é um inventário online. Você pode armazanar onde deixou, com que estão os seus livros, equipamentos, brinquedos, documentos, links, isto é <strong>TODAS AS SUAS</strong> "coisas".</p>
                </div>
                <div class="col-lg-4 text-justify">
                    <p>Lidando com arquivos virtuais? Agora ficou muito mais fácil de organizá-los, renomei, agrupe, crie backups, e nunca mais esqueça onde estão as suas informações mais importantes.    
                    </p>
                </div>
            </div>
        </div>
    </section>
</template>