<template name="about">
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>Sobre</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-lg-offset-2">
                    <p>Coisoteca é um inventario universal, você pode armazanar onde deixou,
                    com que estão seus livros, equipamentos, brinquedos, documentos, links
                    lugares, isto é todas as suas "coisas".</p>
                </div>
                <div class="col-lg-4">
                    <p>Lidando com arquivos virtuais?, ficou ainda mais fácil de organizá-los,
                      Renomei, agrupe, crie backups, e nunca mais esqueça onde estão as informações que são importantes pra você.  
                    </p>
                </div>
            </div>
        </div>
    </section>
</template>